<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lecet.app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Uses feature -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Application -->
    <application
        android:name=".LecetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- HockeyApp Integration -->
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="bf2b988cbd6245d48903f92ea181b6af" /> <!-- TODO: update with current app id -->


        <!-- Activities -->
        <activity
            android:name=".content.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".content.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.CompanyDetailProjectBidsActivity"
            android:label="@string/title_activity_company_detail_project_bids"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.ProjectTrackingListActivity"
            android:label="@string/title_activity_project_tracking_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.CreatePasswordActivity"
            android:label="@string/title_activity_create_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.ContactDetailActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.UpdateProfileActivity"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content.ProjectsNearMeActivity"
            android:parentActivityName=".content.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".content.MainActivity" />
        </activity>

        <!-- Metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <!--activity android:name=".content.SearchFilterMSEActivity" /--> <!-- TODO - Class does not exist. Remove? -->
        <activity android:name=".content.SearchFilterMPSActivity" />
        <activity android:name=".content.SearchFilterLocationActivity" />
        <activity android:name=".content.SearchFilterProjectTypeActivity" />
        <activity android:name=".content.SearchFilterValueActivity" />
        <activity android:name=".content.SearchFilterBiddingWithinActivity" />
        <activity android:name=".content.SearchFilterUpdatedWithinActivity" />
        <activity android:name=".content.SearchFilterBuildingOrHighwayActivity" />
        <activity android:name=".content.SearchFilterStageActivity" />
        <activity android:name=".content.SearchFilterOwnerTypeActivity" />
        <activity android:name=".content.SearchFilterWorkTypeActivity"></activity>
        <activity android:name=".content.SearchFilterJurisdictionActivity" />
    </application>

</manifest>